body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}

a:ACTIVE {
	color: #EE0000;
	text-decoration: underline;
}

a:VISITED {
	color: #551A8B;
	text-decoration: underline;
}