/* CODE SNIPPETS */
/* Windows command prompt*/
div.code_winCMD {
	background-color: black;
	border:
}

div.code_winCMD h1 {
	background-color: blue;
	color: white;
	text-align: left;
	font: status-bar;
}



/* Linux command line*/
div.code_linuxCMD {
	
}

/* MacOS command line */
div.code_macOS {
	
}