.box {
	margin: 0.4em;
	border: 3px solid #798287;
	background-color: white;
	border-radius: 0.4cm;
}

.box .box_heading {
	background-color: #83c5d1;
	border-top-left-radius: 0.3cm;
	border-top-right-radius: 0.3cm;
	color: #FFFFFF;
	font-family: "Quattrocento";
	font-size: 1.4em;
	font-weight: bold;
	padding: 2px 0 4px;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.box .box_heading img {
	float: right;
	padding-right: 1%;
	padding-top: 0.1%;
}

.box .content {
	overflow: hidden;
	font-family: "Vollkorn";
	border-top: 3px solid #798287;
}

.box .box_break {
	border-top: 1px solid #007275;
	margin: 0.5em;
}

.box p {
	margin: 0.2em 0.5em;
	font-size: 1.1em;
	padding: 4px;
	text-align: left;
}

.box ul {
	font-size: 1.1em;
	text-align: left;
}

.box li {
	list-style-image: url("../img/bullet_point.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 0.25%;
	padding-right: 0.25%;
}