div.box {
	margin: 0.4em;
	border: 2px solid #007275;
}

div.box h1 {
	background-color: #007275;
	color: #FFFFFF;
	font-size: 1.4em;
	font-weight: bold;
	padding: 2px 0 4px;
	margin: 0;
	text-align: center;
}

div.box h2 {
	border-top: 2px dashed #007275;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.box p {
	margin-bottom: 0.4em;
	margin-top: 0;
	font-size: 1.1em;
	padding: 4px;
	text-align: left;
}

div.box ul {
	font-size: 1.1em;
	text-align: left;
}

div.box li {
	list-style-image: url("../img/bullet_point.png");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 14px;
}