.box {
	margin: 1%;
	border: 3px solid #132944;
	background-color: #F8F9DD;
	border-radius: 0.4cm;
}

.box .box_heading {
	border-top-left-radius: 0.3cm;
	border-top-right-radius: 0.3cm;
	font-family: "Quattrocento";
	font-size: 1.5em;
	font-weight: bold;
	padding: 2px 0 4px;
	margin: 0px;
	text-align: center;
	cursor: pointer;
	display: table;
	width: 100.1%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box h1.box_heading {
	background-color: #AAA271;
	color: white;
	page-break-after: avoid;
}

.box h2.box_heading {
	background-color: #E4DDB8;
	color: black;
}

.box h1 img, h2 img {
	display: inline;
	float: right;
	padding-right: 1%;
	padding-top: 0.1%;
}

.box .content {
	overflow: hidden;
	font-family: "Vollkorn";
	border-top: 3px solid #132944;
	text-align: center;
}

.box .box_break {
	border-top: 1px solid #007275;
	margin: 0.5em;
}

.box p {
	margin: 0.2em 0.5em;
	font-size: 1.1em;
	padding: 4px;
	text-align: justify;
}

.box ul, .box ol {
	font-size: 1.1em;
	text-align: left;
}

.box ul li {
	list-style-image: url("http://trojandev.proggle.net/common/img/bullet_point.svg");
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 0.25%;
	padding-right: 0.25%;
}