#master_container {
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-image: url("../img/hex_tile.png");
	background-repeat: repeat;
}

#header_container {
	border: 0;
	margin: 0;
	background: #798287;
	width: 100%;
}

#page_container {
	margin-top: 0.8em;
	margin-bottom: 1.25em; /* Height of the footer */
}

#footer_container {
	background: #798287;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: right;
	color: black;
	height: 1.25em; /* Height of the footer */
}

#header_container .title {
	padding-top: 7px;
	color: white;
	text-align: center;
	font-size: 6em;
	font-family: 'Quattrocento', serif;
}

#header_container .logo {
	width: 1em;
	height: 1em;
}

#header_container .nav_menu {
	background: #798287;
	z-index: 100;
	width: 100%;
	font-size: 200%;
	color: #798287;
	font-family: "Quattrocento";
	text-align: center;
}

#header_container .nav_menu_button {
	width: 18%;
	border-top: 3px solid #798287;
	border-bottom: 3px solid #798287;
	border-left: 2px solid #798287;
	border-right: 2px solid #798287;
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #83c5d1;
	color: white;
	text-decoration: none;
	color: white;
}