.row {
	width: 80%;
	clear: both;
	padding: 0px;
	margin: 0px auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	display: block;
	float: left;
	width: 50%;
	margin: 0% 0% 0% 0%;
	text-align: center;
	vertical-align: middle;
}

@media only screen and (max-width: 1100px) {
	.column {
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	#header_container {
		font-size: 90%;
	}
}

@media only screen and (max-width: 700px) {
	#header_container {
		font-size: 70%;
	}
}

@media only screen and (max-width: 500px) {
	#header_container {
		font-size: 50%;
	}
}

@media only screen and (max-width: 480px) {
	#header_container {
		font-size: 48%;
	}
}

@media only screen and (max-width: 320px) {
	#header_container {
		font-size: 32%;
	}
}