.row {
	width: 100%;
	clear: both;
	padding: 0px;
	margin: 0px;
	zoom: 1;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	display: block;
	float: left;
	width: 50%;
	margin: 0% 0% 0% 0%;
	text-align: center;
	vertical-align: middle;
}

@media only screen and (max-width: 1100px) {
	.column {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	#header_container {
		font-size: 90%;
	}
}

@media only screen and (max-width: 900px) {
	#header_container {
		font-size: 80%;
	}
}

@media only screen and (max-width: 800px) {
	#header_container {
		font-size: 70%;
	}
}

@media only screen and (max-width: 700px) {
	#header_container {
		font-size: 60%;
	}
}

@media only screen and (max-width: 600px) {
	#header_container {
		font-size: 50%;
	}
}

@media only screen and (max-width: 500px) {
	#header_container {
		font-size: 40%;
	}
}